
#landing{
  background-image: url("../../public/images/lay.svg");
  background-size: cover;
}
.nav{
background: rgba(255, 255, 255, 0.08);
position: fixed;
z-index: 99999;
top: 0;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
}

.custom-drawer {
    height: 100px; /* Set the desired height */
    background-color: lightblue; /* Set the background color */
  }