@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Teko&display=swap');

#landing{

  background-size: cover;
  background-position: center;
}
.texts{
  font-family: 'Inter', sans-serif;
  font-family: 'Teko', sans-serif;
}
.nav{
background: rgba(255, 255, 255, 0.08);
position: fixed;
z-index: 99999;
top: 0;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
}

.custom-drawer {
    height: 100px; /* Set the desired height */
    background-color: lightblue; /* Set the background color */
  }
