

.wrapper{
    box-sizing: content-box;
 
    height: 40px;
    width: 350px;
    
    display: flex;
   
    
 
  
}
.words{
    overflow: hidden;
}
.word{
    display: block;
    font-size: xx-large;
    height: 100%;
     width: 100%;

    animation: spin_words 6s infinite;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}